<div class="container">
  <div class="box1">

<h1>投稿ページ</h1>
<%= form_with model:@post, url: public_post_index_path do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>

  <h4>内容</h4>
  <%= f.text_area :body %>

  <%= f.submit '投稿',class:"btn btn-success" %>
<% end %>

  </div>
</div>