<div class="container">
  <div class="box">


<h1>検索結果</h1>
<% @post.each do |posts| %>
<%= link_to posts.title,public_post_path(posts) %>
<%= posts.body %>
<% end %>
<%= link_to '一覧に戻る', public_post_index_path %>
<%= link_to 'ホームに戻る', root_path %>

  </div>
</div>