<h1>Game_Communityとは...</h1>
<p>好きなゲームや、気になっていたゲームについて</p>
<P>皆さんがプレイした面白かったゲームを共有したり、気になっていたゲームについて情報を得たり、</P>
<P>次に挑戦してみたいゲームを見つけて頂きたいという思いがあり</P>
<p>次はどのゲームをするか迷った際には本サイトをご利用頂ければ幸いです。</p>


<h2>Game_Communityサイトの使い方</h2>
<P>・新規会員登録をする</P>
<P>・マイページで投稿ページをクリックする</P>
<P>・投稿ページで投稿する</P>
<P>・ゲームタイトルを押す</P>
<P>・新規会員登録をする</P>
<P>・新規会員登録をする</P>
<P>・新規会員登録をする</P>