<div class="box3">
<div class="about">
<h1 style="color: saddlebrown;">Game_Communityとは...</h1>
<div class="black">
<p>好きなゲームや、楽しいゲームについて語り合える場所です。</p>
<P>皆さんがプレイして面白かったゲームを共有したり、</P>
<P>気になっていたゲームについて情報を得たり、</P>
<P>どんなゲームがあるのか、そのゲームは自分に合っているかなどを</P>
<P>見つけて頂きたいという思いがありGame_Communityを制作しました！</P>
<p>次はどのゲームをするか迷った際には当サイトをご利用頂ければ幸いです。</p>
</div>
</div>

<div class="about">
<h2 style="color: navy;">Game_Communityサイトの使い方</h2>
<div class="black">
<P>・新規会員登録をする</P>
<P>・マイページで投稿ページをクリックする</P>
<P>・投稿ページで投稿する</P>
<P>・投稿したゲームタイトルを押す</P>
<P>・まずはご自身でコメントしよう</P>
<h5>楽しく他の会員の方と話し合いましょう!</h5>
<h5>気に入った投稿は☆でお気に入りにしよう!!</h5>
<h5>それでは当サイトを活用して自分がしたいゲームを見つけてください!</h5>
<p style="color: red;">※会員登録していない方は観覧のみとなります</p>
</div>
</div>
</div>