<h1>Game_Community</h1>
<p>ようこそ</p>
<p>みんなと話し合いましょう</p>


<p>検索機能をつける</p>
<% @post.each do |posts| %>
<%= posts.genre_id%>
<% end %>

<h1>投稿一覧</h1>
<% @post.each do |posts| %>
<%= posts.genre_id%>
<%= link_to posts.title,public_post_path(posts) %>
<% end %>