<div class="container">
  <div class="box">

<h1>投稿一覧管理</h1>
<% @post.each do |posts| %>
<%= link_to posts.title, admins_post_path(posts) %>
<%= link_to "投稿削除", admins_post_path(posts.id), method: :delete, "data-confirm" => "本当に削除しますか？",class:"btn btn-danger" %>
<% end %>

  </div>
</div>