<div class="container">
  <div class="box1">

<h1>会員一覧</h1>

<% @customers.each do |customer| %>
<%= link_to customer.nickname, admins_customer_path(customer) %>
<%= customer.is_active ? '有効' : '退会' %>
<% end %>

  </div>
</div>